<cachingConfiguration defaultCacheManager="Cache Manager">
  <cacheManagers>
    <!--配置项说明-->
    <!--expirationPollFrequencyInSeconds：多少秒进行一次过期检查，缺省值60秒-->
    <!--maximumElementsInCacheBeforeScavenging：最多可以缓存对象数，超过这个个数，则触发清除事件，缺省值为1000-->
    <!--numberToRemoveWhenScavenging：每次清除缓存项时候，按照优先级，清除掉优先级低的多少项-->
    <!--backingStoreName：备份缓存的数据（辅助存储器 Backing Storage），默认备份不缓存-->
    <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
		expirationPollFrequencyInSeconds="10" maximumElementsInCacheBeforeScavenging="100000"
		numberToRemoveWhenScavenging="1000" backingStoreName="NullBackingStore" />
  </cacheManagers>

  <backingStores>
    <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral"
		name="NullBackingStore" />
  </backingStores>
  <cacheList>
    <!--cacheManagers,backingStores在使用新版本缓存(LocalCacheManager)时无需提供-->
    <!--配置项说明-->
    <!--usingCacheName:缓存名-->
    <!--cacheKey:缓存主键-->
    <!--absoluteExpireTime:绝对过期时间(分钟)-->
    <!--name:缓存名-->
  </cacheList>
</cachingConfiguration>